
.App {
  font-family: sans-serif;
  text-align: center;
}

.user-container {
  img {
    height: 200px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-fit: cover;
  }

  p {
    font-size: 24px;
  }

  span {
    font-weight: bold;
    font-style: italic;
  }
}

.user-list-container {
  display: grid;
  gap: 42px;
}
